<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <style>
        img {
            width: 150px;
            height: 100px;
        }
    </style>
    <script>
        function detail(memberId){
            console.log(memberId);
            const reqUrl = "/member/" + memberId;
            $.ajax({
                type:'post',
                url:reqUrl,
                data: "formData",
                dataType: "json",
                success: function (result){
                    console.log(result);
                    let output = "";
                    output += "<table>\n" +
                        "    <thead>\n" +
                        "        <tr>\n" +
                        "            <th>번호</th>\n" +
                        "            <th>이메일</th>\n" +
                        "            <th>비밀번호</th>\n" +
                        "            <th>이름</th>\n" +
                        "            <th>전화번호</th>\n" +
                        "            <th>사진</th>\n" +
                        "        </tr>\n" +
                        "    </thead>\n" +
                        "    <tbody>\n" +
                        "        <tr>\n" +
                        "            <td>" + result.memberId + "</td>\n" +
                        "            <td>" + result.memberEmail + "</td>\n" +
                        "            <td>" + result.memberPassword + "</td>\n" +
                        "            <td>" + result.memberName + "</td>\n" +
                        "            <td>" + result.memberPhone + "</td>\n" +
                        "            <td>" + result.memberImageName + "</td>\n" +

                        "        </tr>\n" +
                        "    </tbody>\n" +
                        "</table>";
                    document.getElementById("detail-view").innerHTML = output;
                } ,
                error: function (){
                    alert('ajax 실패');
                }
            });
        }
    </script>
    <script>
        function deleteById(memberId){
            const reqUrl = "/member/" + memberId;

            $.ajax({
                type: 'delete',
                url: reqUrl,
                success: function (){
                    location.href='/member/';
                },
                error:function (){
                    alert('ajax 실패');
                }

            });
        }

    </script>








</head>
<body>
<h2>myPage.html</h2>
아이디: <p th:text="${session['loginEmail']}"></p>



<table>

    <thead>
    <tr>
        <th>번호</th>
        <th>이메일</th>
        <th>비밀번호</th>
        <th>이름</th>
        <th>전화번호</th>
        <th>사진</th>
        <th>회원수정</th>
        <td>삭제(get)</td>
        <td>삭제(ajax)</td>
        <td>조회(ajax)</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${member.memberId}"></td>
        <td th:text="${member.memberEmail}"></td>
        <td th:text="${member.memberPassword}"></td>
        <td th:text="${member.memberName}"></td>
        <td th:text="${member.memberPhone}"></td>
        <td><img th:src="@{/upload/} + ${member.memberImageName}"> </td>
        <td><a th:href="@{|/member/delete/${member.memberId}|}">삭제(get)</a></td>
        <td><button th:onclick="deleteById([[${member.memberId}]])">삭제(ajax)</button></td>
        <td><button th:onclick="detail([[${member.memberId}]])">조회(ajax)</button></td>
        <td><a th:href="@{|/member/update/${member.memberId}|}">정보수정</a></td>


    </tr>
    </tbody>
</table>



</body>
</html>