<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        const memberUpdate = () => {
          console.log('수정함수호출');
            const id = document.getElementById("memberId").value;
            const email = document.querySelector('#memberEmail').value;
            const password = $('#memberPassword').val();
            const Name = document.querySelector('#memberName').value;
            const phone = document.getElementById("memberPhone").value;
            const image = document.getElementById("memberImage").value;
            console.log(memberId,memberEmail,memberPassword,memberName,memberPhone,memberImage);
            const updateData = JSON.stringify({
                memberId: id,
                memberEmail:email,
                memberPassword:password,
                memberName:Name,
                memberPhone:phone,
                memberImage:image
            });
        const reqUrl = "/member/"+ id;
        console.log(updateData);
        $.ajax({
            type:'put',//put,patch
            data: updateData,
            url:reqUrl,
            contentType:'application/json', // json으로 보낼때는 꼭 써야함.
            success: function () {
                location.href = "/member/" + id;
            },
            error: function (){
                alert('ajax 실패')
            }
        });
        }



        function update(){
            const inputPassword = document.getElementById('memberPassword').value;
            const memberPassword ="[[${member.memberPassword}]]";

            if(inputPassword==memberPassword){
                document.updateForm.submit();
            }else{
                alert("비밀번호확인");
            }
        }
    </script>
</head>
<body>
    <h2>update.html</h2>
    <form action="/member/update" name="updateForm" method="post" enctype="multipart/form-data">
    <input type="hidden" name="memberId" th:value="${member.memberId}" id="memberId" ><br>
    <input type="text" name="memberEmail" th:value="${member.memberEmail}" readonly id="memberEmail"><br>
    <input type="text" name="memberPassword" id="memberPassword"><br>
    <input type="text" name="memberName" th:value="${member.memberName}" id="memberName"><br>
    <input type="text" name="memberPhone" th:value="${member.memberPhone}" id="memberPhone"><br>
    <input type="file" name="memberImage" id="memberImage"><br>
    <input type="button" value="수정" th:onclick="update()">
    <input type="button" value="수정(put)" th:onclick="memberUpdate()">
    </form>

</body>
</html>